name: CI

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      SKIP_ENV_VALIDATION: "true"
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".github/nodejs.version"

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint check
        run: pnpm run lint

      - name: Format check
        run: pnpm run prettier

      - name: Unit & Integration tests
        run: pnpm run test

      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps

      - name: Playwright tests
        run: pnpm playwright test

      - name: Smoke & Acceptance tests
        run: |
          pnpm run build-storybook --quiet
          pnpm dlx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "pnpm dlx http-server storybook-static --port 6006 --silent" \
            "pnpm dlx wait-on tcp:127.0.0.1:6006 && pnpm run test-storybook"

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
